## Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

## Import data

In [2]:
data_path = "data/population.csv"
df = pd.read_csv(data_path, sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147043 entries, 0 to 147042
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Geoname ID               147043 non-null  int64
 1   Name                     147042 non-null  object
 2   ASCII Name               147041 non-null  object
 3   Alternate Names          120039 non-null  object
 4   Feature Class            147043 non-null  object
 5   Feature Code             147043 non-null  object
 6   Country Code             146966 non-null  object
 7   Country name EN          146835 non-null  object
 8   Country Code 2           80 non-null      object
 9   Admin1 Code              147017 non-null  object
 10  Admin2 Code              125981 non-null  object
 11  Admin3 Code              74494 non-null   object
 12  Admin4 Code              20609 non-null   object
 13  Population               147043 non-null  int64
 14  Elevation                27689 non-null   float64
 15  DIgital Elevation Model  147043 non-null  int64
 16  Timezone                 147043 non-null  object
 17  Modification date        147043 non-null  object
 18  LABEL EN                 146835 non-null  object
 19  Coordinates              147043 non-null  object
dtypes: float64(1), int64(3), object(16)
memory usage: 22.4+ MB

In [3]:
df.head()

,Geoname ID,Name,ASCII Name,Alternate Names,Feature Class,Feature Code,Country Code,Country name EN,Country Code 2,Admin1 Code,Admin2 Code,Admin3 Code,Admin4 Code,Population,Elevation,DIgital Elevation Model,Timezone,Modification date,LABEL EN,Coordinates
0,1799869,Nanning,Nanning,"Lam-leng-chhi,Lâm-lêng-chhī,NNG,Nam Ninh,Nam-n...",P,PPLA,CN,China,NaN,16,4501,NaN,NaN,3839800,NaN,91,Asia/Shanghai,2023-12-29,China,"22.81667, 108.31667"
1,1806988,Huayin,Huayin,"Hua-yin-hsien,Hua-yin-hsien-ch'eng,Hua-yin-hsi...",P,PPL,CN,China,NaN,26,6105,NaN,NaN,242488,NaN,348,Asia/Shanghai,2021-09-20,China,"34.56528, 110.06639"
2,1815494,Changxin,Changxin,"Ch'ang-hsin-p'u,Changxin,Changxingpu,Ch’ang-hs...",P,PPL,CN,China,NaN,21,6401,NaN,NaN,25095,NaN,1106,Asia/Shanghai,2021-10-07,China,"38.67472, 106.32972"
3,1921372,Dalianwan,Dalianwan,NaN,P,PPL,CN,China,NaN,19,NaN,NaN,NaN,55841,NaN,24,Asia/Shanghai,2006-01-17,China,"39.02861, 121.695"
4,1922014,Wuyishan,Wuyishan,"Bú-î-soaⁿ-chhī,Ciudad de Wuyishan,U-i-sang-che...",P,PPLA3,CN,China,NaN,07,3507,NaN,NaN,137133,NaN,224,Asia/Shanghai,2021-10-08,China,"27.75995, 118.03066"

## Clean the data

The cleaning will consist in:
- Leave only relevant columns, removing the rest. The relevant columns are:
    - `Geoname ID`
    - `Name`
    - `Country Code`
    - `Country Name EN`
    - `Population`
    - `Label EN`
    - `Coordinates`
- Split `Coordinates` into `Latitude` and `Longitude`

Depending on the further column explorations, the number of relevant columns could decrease.

### Remove the non relevant columns

In [7]:
df_viz = df.drop(columns=[
                    'ASCII Name',
                    'Alternate Names',
                    'Feature Class',
                    'Feature Code',
                    'Country Code 2',
                    'Admin1 Code',
                    'Admin2 Code',
                    'Admin3 Code',
                    'Admin4 Code',
                    'Elevation',
                    'DIgital Elevation Model',
                    'Timezone',
                    'Modification date',
                    'LABEL EN']
                )
df_viz.head()

,Geoname ID,Name,Country Code,Country name EN,Population,Coordinates
0,1799869,Nanning,CN,China,3839800,"22.81667, 108.31667"
1,1806988,Huayin,CN,China,242488,"34.56528, 110.06639"
2,1815494,Changxin,CN,China,25095,"38.67472, 106.32972"
3,1921372,Dalianwan,CN,China,55841,"39.02861, 121.695"
4,1922014,Wuyishan,CN,China,137133,"27.75995, 118.03066"

### Split coordinates column into Longitude and Latitude